/* header css start  */
.header_area{
    background-color: #191919 !important;

}
.head{
    display: flex !important;
    align-items: center !important;
}

.logo{
    display: flex ;
    align-items: center ;
    justify-content: center ;
    padding: 10px 0px;
}

.logo_icon{
    width: 34.44px;
    height: 55.9px;
    left: 59px;
    top: 29.05px;
}

.logo_text{
    font-family: AvantGarde Bk BT;
    font-style: normal;
    font-weight: 600;
    font-size: 32.7951px;
    line-height: 39px;
    margin-left: 15px;
    color: #FFFFFF;
    text-decoration: none !important;
}

.logo_text:hover{
    color: #FFFFFF !important;
}

.navbar{
    /* height: 111px; */
}

.navbar-nav{
    font-family: Gilroy;
    font-style: normal;
    font-weight: 300;
    font-size: 17.1464px;
    line-height: 20px;
    text-decoration: none;
    text-align: center;

}

.nav-item a{
    color: #FFFFFF;
    margin:0px 15px ;
}

.nav-button{
    background-color: #FFFFFF !important;
    border: 0.477129px solid #000000;
    box-sizing: border-box;
}
.nav-button a{
    color: #191919 !important;
}

/* for responsive nav  */

@media screen and (max-width: 990px) {
    .header_area{
        /* height: 400px; */
        /* display: flex;
        align-items: center;
        justify-content: center; */
    }
  }

  .navbar-collapse{
      /* height: 170px !important; */
      background-color: #191919;
  }

/* header css end  */

/* home css start */

.home{
    background-image: url("home-bg.png");
    background-color: #191919;
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-position: center;
    height: 91vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-main{
    display: flex; 
    align-items: center; 
    justify-content: center; 
    flex-direction: column;
    padding: 50px 0px ;
}

.home-hi-text{
    background: -webkit-linear-gradient(45deg,#D411AF,#9631B1, #A6AAB5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: AvantGarde Bk BT;
    font-style: normal;
    font-weight: 600;
    font-size: 36.6953px;
    line-height: 44px;
    margin-top: 50px;
}

.home-discription-text{
    font-family: AvantGarde Bk BT;
    font-style: normal;
    font-weight: 600;
    font-size: 55.4305px;
    line-height: 66px;
    text-align: center;
    width: 942px;
    color: #FFFFFF;
    margin: 10px 0px 50px 0px;

}

.home-btn{
    font-family: AvantGarde Bk BT;
    font-style: normal;
    font-weight: normal;
    font-size: 17.096px;
    line-height: 20px;
    text-align: justify;
    letter-spacing: 0.04em;
    color: #000000;

}
.home-btn a{
    border: 1px solid #FFFDFD;
    border-radius: 33px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    text-decoration: none !important;
    transition: .7s;
}
.home-btn1{
    padding: 20px 40px;
    margin-right: 8px;
}

.home-btn2{
    padding: 20px 60px;
    margin-left: 8px;
}

.home-btn a:hover{
    background-color: #FFFFFF;
    color: #000000;
}
/* home css end  */

/* about css start  */

.about{
    background-color: #191919;
    padding: 100px 0px;
}

.about-left-text1{
    font-family: AvantGarde Bk BT;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 57px;
    background: -webkit-linear-gradient(45deg,#FE0692,#E14993, #CF8B96);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 50px;
    
}

.about-left-text2{
    font-family: AvantGarde Bk BT;
    font-style: normal;
    font-weight: 600;
    font-size: 43.7083px;
    line-height: 52px;
    color: #FFFFFF;
}

.about-right-li{
    font-family: AvantGarde Bk BT;
    font-style: normal;
    font-weight: 600;
    font-size: 27.8975px;
    line-height: 33px;
    color: #FFFFFF;
    margin-bottom: 30px;
    margin-left: 25px;
}

.about-right-p{
    font-family: AvantGarde Bk BT;
    font-style: normal;
    font-weight: normal;
    font-size: 21.3163px;
    line-height: 26px;
    text-align: justify;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    margin-bottom: 60px;
}

/* about css end  */