/* header css start  */
.header_area{
    background-color: #191919 !important;

}
.head{
    display: flex !important;
    align-items: center !important;
}

.logo{
    display: flex ;
    align-items: center ;
    justify-content: center ;
    padding: 10px 0px;
}

.logo_icon{
    width: 34.44px;
    height: 55.9px;
    left: 59px;
    top: 29.05px;
}

.logo_text{
    font-family: AvantGarde Bk BT;
    font-style: normal;
    font-weight: 600;
    font-size: 32.7951px;
    line-height: 39px;
    margin-left: 15px;
    color: #FFFFFF;
    text-decoration: none !important;
}

.logo_text:hover{
    color: #FFFFFF !important;
}

.navbar{
    /* height: 111px; */
}

.navbar-nav{
    font-family: Gilroy;
    font-style: normal;
    font-weight: 300;
    font-size: 17.1464px;
    line-height: 20px;
    text-decoration: none;
    text-align: center;

}

.nav-item a{
    color: #FFFFFF;
    margin:0px 15px ;
}

.nav-button{
    background-color: #FFFFFF !important;
}
.nav-button a{
    color: #191919 !important;
}

/* for responsive nav  */

@media screen and (max-width: 990px) {
    .header_area{
        /* height: 400px; */
        /* display: flex;
        align-items: center;
        justify-content: center; */
    }
  }

  .navbar-collapse{
      /* height: 170px !important; */
      background-color: #191919;
  }

/* header css end  */